
@import 'src/scss/colors';
@import 'src/scss/sizes';

%button-base {
  border: 3px solid $secondary-color;
  border-radius: $border-radius;
  height: $inputs-height;
}

%login-button-white {

  @extend %button-base;
  color: $secondary-color;

  &:hover {
    color: $white;
    background-color: $secondary-color;
  }
}

%login-button-green {

  @extend %button-base;
  color: $white;
  background-color: $secondary-color;

  &:hover {
    background-color: $white;
    color: $secondary-color;
  }
}

.login-container {
  background-color: $light-grey;
  padding: 20px;
  width: 300px;
  border-top: 5px solid $primary-color;
  margin: 20px auto;
}

.main-logo {
  width: 80%;
  align-self: center;
  margin: 10px 0;
}

.label {
  color: $black;
  margin-bottom: 10px;
}

.input {
  border-radius: $border-radius;
  height: $inputs-height;
  margin-bottom: 5px;
}

.login-button {

  @extend %login-button-white;
}

.separator {
  margin-bottom: 10px;
}

.signup-button {

  @extend %login-button-green;
  margin: 10px 0;
}
